*.class

# Package Files #
*.jar
*.ear

nuxeo-automation-jsshell-quake-plugin/target/*

.DS_Store
nuxeo-automation-jsshell-quake-plugin/src/main/resources/web/nuxeo.war/webgl-quake3/demo_baseq3/textures/*
nuxeo-automation-jsshell-quake-plugin/src/main/resources/web/nuxeo.war/webgl-quake3/demo_baseq3/models/*
nuxeo-automation-jsshell-quake-plugin/src/main/resources/web/nuxeo.war/webgl-quake3/demo_baseq3/scripts/*
nuxeo-automation-jsshell-quake-plugin/src/main/resources/web/nuxeo.war/webgl-quake3/demo_baseq3/maps/*
nuxeo-automation-jsshell-quake-plugin/src/main/resources/web/nuxeo.war/webgl-quake3/demo_baseq3/music/*
